.workout-input{
	width: 100%;
	background-color: transparent !important;
	color-scheme: unset;
	border: none!important;
}

.workout-options-container{
	padding-top: 1rem;
	padding-bottom: 0.2rem;
	overflow-y: auto;
}

.workout-option{
	padding: 0.5rem 0.5rem;
}
.workout-option:hover {
	background-color: rgba(255, 255, 255, 0.075)
}

/* Removes X from workout option menu*/
.modal-close-button{
	color: transparent;
}

/* Makes the checkbox huge */
input[type=checkbox]{
	height: 2.5rem;
	width: 2.5rem;
}

input[type=checkbox]:checked:after{
	height: 2.5rem;
	width: 2.5rem;
}

.motivationalSpeech {
	text-align: center;
	font-size: 1.5rem;
	color: rgb(138, 92, 245);
	font-style: italic;
}


/*calendar*/

.calendar-header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 10px;
}

.calendar-btn {
	padding: 1.5rem 2rem;
	/* Additional button styling */
}

.calendar-title {
	font-weight: bold;
	font-size: 1.5rem;

	/* Additional title styling */
}

.calendar-grid {
	padding: 0.5rem;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	/*gap: 5px;*/
}

.calendar-header-day {
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
	text-align: center;
	padding: 5px;
}

.calendar-day {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 0.25rem 0.5rem 0.25rem;
	cursor: pointer;
	border-radius: 5px;
}

/* Flex container for date and circles */
.calendar-day__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 0.35rem;
}

.calendar-day__container-date {
	text-align: center;
}

.calendar-day__container-circles {
	display: flex;
	gap: 0.35rem;
	justify-content: center;
	align-items: center;
}

.calendar-day__container-circles-dot {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	bottom: 5px; /* Position the dot at the bottom */
}

.calendar-day__container-circles-dot.completed {
	background-color: orange; /* Customize the color of the dot */
	border: none;
}

.calendar-day__container-circles-dot.started {
	border: 1px solid #AD83FF; /* Customize the outline color */
	background-color: transparent;
}

/* Dot for completed workouts on days outside the current month */
.calendar-day__container-circles-dot.completed-outside-month {
	background-color: rgba(228, 186, 73); /* Customize the color of the dot */
	opacity: 0.4;
}

/* Dot for started workouts on days outside the current month */
.calendar-day__container-circles-dot.started-outside-month {
	border: 1px solid #8D6F0B; /* Customize the outline color */
	opacity: 0.4;
}

.calendar-day.current-day {
	background-color: rgb(0,0,0,1);
	border: 1.85px solid rgb(0,0,0,1); /* Customize the outline color */

	font-weight: bold;
}

.calendar-day.empty {
	background-color: transparent;
	opacity: 0.3;
}

.calendar-day.greyed-out {
	color: rgba(255, 255, 255, 0.2); /* Grey color for days from the previous or next month */
}

/* Hover effect for days of the current month */
.calendar-day:hover {
	background-color: rgba(255, 255, 255, 0.4); /* White with 40% opacity */
}

/* Hover effect for greyed-out days (from previous or next month) */
.calendar-day.greyed-out:hover {
	background-color: rgba(255, 255, 255, 0.2); /* White with 20% opacity */
}

















.view-content:has(.config-workout-view) {
    /* background-color: pink; */
	padding-top: 0;
	padding-bottom: 0;
}

.config-workout-view{
	display: flex;
	flex-direction: column;
}


.tab-navigation{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.3rem;
	/* position: sticky; */
  	top:0;
	/* background-color: red; */
	padding-top: 0.75rem;
	background-color: var(--background-secondary);
}

.tab-button{
	flex-grow: 1;
	width: 150px;
	padding: 1.5rem;
	font-size: 1.25rem;
}

.tab-button.active {
	background-color: var(--interactive-accent);
  }


.tab-content{
	/* background-color: blue; */
	
}



/* Workout Type Settings */

.workout-settings-panel{
	width: 100%;
}

.workout-settings-information{

}

.workout-settings-table-container{
}

.workout-settings-table{
	border-collapse: collapse;

    table-layout: fixed;
    width: 100%;
}


.workout-settings-table-header{
	position: sticky;
	top: 0;
	z-index: 5;
	padding: 1rem;
	font-weight: bold;
	font-size: 1.2rem;
	background-color: var(--interactive-accent);
	text-align: left;
	border: none;
}

.workout-settings-table-header-trash{
	width: 60px;
	background-color: var(--interactive-accent);
	position: sticky;
	top: 0;
	z-index: 5;
	padding: 1rem;
	border: none;

}


.workout-settings-table-cell{
	vertical-align: bottom;
	padding: 0.5rem;
}


.workout-settings-table-cell input{
	width:100%;
	padding: 0.5rem;
	font-size: 1rem;
	box-sizing: border-box;
	padding-left: 1rem;
}


.workout-settings-table-footer{
	z-index: 10;
	position: sticky;
	padding-top: 0.5rem;
	padding-bottom: 2rem;
	bottom: 0;
	background-color: var(--background-secondary);
	display: flex;
	justify-content: center;
}


.workout-settings-table-button{
	padding: 1.5rem;
}

.workout-settings-table-button-save{
	background-color: var(--interactive-accent)!important;
}

.workout-settings-search{
	width: 100%;
	padding: 1rem 0 1.5rem 0;
}

.workout-settings-search input{
	width: 100%;
	height: auto;
	font-size: 2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.workout-settings-search input:focus{
	border: 2px solid var(--interactive-accent);
}

.workout-settings-search input::placeholder {
	color:  var(--text-muted);
	opacity: 1;  /* Ensures full opacity (default is 0.5 in some browsers) */
}
 

/* MUSCLE SETTINGS */
.workout-settings-muscle-container {
	display: flex;
	flex-direction: column;
	width: 100%;
  }

  .workout-settings-muscle-header{
	padding: 1rem;
	font-size: 1.2rem;
    background-color: var(--interactive-accent);
	margin-bottom: 1rem;
    
  }
  .workout-settings-muscle-data {
	gap: 1rem;
  }
  
  .workout-settings-muscle-header,
  .workout-settings-muscle-data {
	display: flex;
	flex-direction: column;
	width: 100%;
  }
  
  .workout-settings-muscle-row {
	display: flex;
	width: 100%;
  }
  
  /* Header cells and data cells styling */
  .workout-settings-muscle-header-cell,
  .workout-settings-muscle-cell {
	flex: 1; /* Make each cell take up an equal amount of space */
	box-sizing: border-box;
	align-items: center;
	text-align: left; /* Align the text to the left */
}
  
  /* Make the trash column smaller */
  .workout-settings-muscle-cell.trash-cell,
  .workout-settings-muscle-header-cell.trash-header {
	flex: 0; /* Take up as little space as needed */
	width: auto; /* Adjust according to the content */
  }
  
  /* Specific styling for header cells */
  .workout-settings-muscle-header-cell {
	font-weight: bold;
	justify-content: center;
  }
  
  /* Input field styling within cells */
  .workout-settings-muscle-cell input {
	width: 90%; /* Ensure the input fields don't overflow */
	padding: 5px;
	font-size: 1rem;
  }
  
  /* MultiSelectInput container */
  .workout-settings-muscle-multiselect {
	padding: 5px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
  }

  .workout-settings-muscle-multiselect-label{
	flex-grow: 0;
	align-self: flex-end;
	font-size: 1rem;
	padding: 1rem;

	}

.custom-select-input-container input{
	width: 100%;
}



/* EXERCISES SETTINGS */

.workout-settings-exercise-list{

}

.workout-settings-exercise-header{
	display: flex;
	justify-content: space-between;
	padding: 1rem 0 1rem 0;
	margin: 1rem 0 1rem 0;
	background-color: var(--interactive-accent);
	cursor: pointer;

}

.workout-settings-exercise-header-name{
	font-size: 1.25rem;
	font-weight: bold;
	padding-left: 1.5rem;

}

.workout-settings-exercise-header-arrow{
	padding-right: 1.5rem;
}

.workout-settings-exercise-container{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 0.5rem;
	padding: 0.5rem 1rem 0.5rem 1rem;
	background-color: var(--background-primary);
}


.workout-settings-exercise-container-details{
	display: flex;
	gap: 1rem;
}

.workout-settings-exercise-container-details-list{
	display: flex;
	flex-direction: column;
	flex-grow: 99;
	gap: 1rem;
}

.workout-settings-exercise-container-details-input{
	width: 100%;
	font-size: 1rem;
}

.workout-settings-exercise-container-details-checkboxes{
	display: flex;
	gap: 1rem;
}

.workout-settings-exercise-container-details-element-box{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.workout-settings-exercise-container-details-checkboxes-box{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.workout-settings-exercise-container-buttons{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 0.1rem;
}


.workout-settings-exercise-container-note textarea{ 
	width: 100%;         /* Make it take the full width of the container */
	resize: none;        /* Disable resizing */
	overflow-y: auto;    /* Allow vertical scrolling if content exceeds the height */
	padding: 5px;        /* Add some padding for better readability */
	font-size: 14px;
}





/* Variations */
.workout-settings-variations-container{
	margin: 10px 0;
	border: 1px solid #ddd;
	padding: 10px;
}

.workout-settings-variations-container-header{
	display: flex;

}

.workout-settings-variations-container-header-title{
	flex: 1;
}


.workout-settings-variations-container-header-title input{
	font-size: 1.5rem;
	padding: 1.5rem;
}

.workout-settings-variations-container-header-title-trash{
	flex:0;
	margin-left: 1rem;

}

.first-edge-container{
	background-color: var(--background-primary);

}

.first-edge-container button{
	/* z-index: 2; 
    position: absolute;
	padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    left: 42%;
	background-color: var(--background-primary);
 	border: none;     
    outline: none;    
    cursor: pointer;  */
}


/* Tree */

/* Controls Vertical Alignemnt */
.tree-vertical {
	display: flex;
	flex-direction: column;
	gap: 5px;
	background-color: var(--background-primary);

	/* background-color:  rgb(48, 48, 77); */

  }
  .tree-node-container {
    position: relative; /* Make this container the reference for absolute positioning */
    width: 200px;
}
  
  .tree-node {
	/* padding: 0.75rem; */
	display: flex;
	justify-content: space-between;
	text-align: center;
	font-size: 1.15rem;
	border-radius: 2px;
	background-color: var(--interactive-accent);
  }

  .tree-node textarea {
	padding: 0.2rem;
	font-size: 1.15rem;
	width: 100%;         /* Make it take the full width of the container */
	resize: none;        /* Disable resizing */
	overflow-y: auto;    /* Allow vertical scrolling if content exceeds the height */
	background-color: var(--interactive-accent);
	border: 1px solid var(--interactive-accent);
}

.tree-node textarea:focus {
	padding: 0.2rem;
	font-size: 1.15rem;
	width: 100%;         /* Make it take the full width of the container */
	resize: none;        /* Disable resizing */
	overflow-y: auto;    /* Allow vertical scrolling if content exceeds the height */
	background-color: var(--background-secondary);
	border: 1px solid var(--interactive-accent);
}

.tree-node-header{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-left: 0.4rem;

}

.tree-node-header input{
	width: 1.5rem;
    height: 1.5rem;
	background-color:var(--interactive-normal);

}

.tree-node-header input[type=checkbox]:checked:after {
    height: 1.5rem;
    width: 1.5rem;
}
  .tree-node-x{
	color: var(--background-primary);
	padding: 0 0.75rem 0 0.2rem;
	cursor: pointer;
	font-size: 1.2rem;
  }

  .tree-node-x:hover{
	color: var(--text-normal)
  }

  .tree-node-data{
	padding: 0.5rem 1.2rem 0.5rem 0.5rem;
  }

  /* Controls Horizontal Alignment */
  .tree-horizontal {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
  }
  
  .edge-container {
    position: relative; /* Ensures that the button is positioned relative to this container */
    display: flex;
    align-items: center;
	background-color: var(--background-primary);

}



.edge {
    border-right: 1px solid var(--text-normal);
    height: 3rem;
    width: 50%;
}

.last-edge {
    border-right: 1px dashed var(--text-normal);
    height: 3rem;
    width: 50%;
}


.edge-container button{
    z-index: 2; /* Ensures the button is above other elements */
    position: absolute;
	padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    left: 32%; /* Centers the button horizontally */
	background-color: var(--background-primary);
 	border: none;     /* Removes the border (optional) */
    outline: none;    /* Removes the outline when the button is focused */
    cursor: pointer; 
}


.tree-add-sibling-container {
	z-index: 2;
    position: absolute;  /* Position relative to the parent container */
    right: -10%;       
    top: 50%;           
    transform: translateY(-50%); /* Adjust vertical alignment */
}

.tree-add-sibling-container button{
	/* padding: 1.5rem 1rem 1.5rem 1rem; */
	padding: 1rem;
	border: none;     /* Removes the border (optional) */
    outline: none;    /* Removes the outline when the button is focused */
    cursor: pointer; 
	
}












  
/* multi select */
.multi-select-container {
	position: relative;
	padding: 0;
	width: 100%;
	background-color: var(--background-secondary);
	border: none;
	display: flex;
	flex-direction: column;
  }
  
  .selected-values-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center; 
	gap: 5px; 
  }
  
  /* Style for each selected tag */
  .selected-tag {
	display: flex;
	align-items: center;
	background-color: var(--interactive-accent);
	padding: 0.5rem 0.5rem;
	border-radius: 2px;
	font-size: 1rem;
  }
  
  /* Style for the '×' icon inside the tag */
  .remove-icon {
	margin-left: 0.75rem;
	cursor: pointer;
	color: var(--background-primary);
	font-weight: bold;
  }
  
  /* Style for the input field */
  .multi-select-input {
	flex: 1; 
	min-width: 100px;
	padding: 3px;
	max-width: 100%;
  }
  
  /* Dropdown list */
  .dropdown-list {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	border-radius: 4px;
	background-color: var(--interactive-normal);
	list-style: none;
	padding: 0;
	margin: 0;
	max-height: 150px;
	overflow-y: auto;
	z-index: 11;
  }
  
  /* Each option in the dropdown list */
  .dropdown-item {
	font-size: 1rem;
	padding: 0.7rem;
	cursor: pointer;
  }
  
  /* Hover effect for dropdown items */
  .dropdown-item:hover {
	background-color: var(--interactive-accent);
  }
  
  .single-select-container{
	position: relative;
  }
