.workout-input{
	width: 100%;
	background-color: transparent !important;
	color-scheme: unset;
	border: none!important;
}

.workout-options-container{
	padding-top: 1rem;
	padding-bottom: 0.2rem;
	overflow-y: auto;
}

.workout-option{
	padding: 0.5rem 0.5rem;
}
.workout-option:hover {
	background-color: rgba(255, 255, 255, 0.075)
}

/* Removes X from workout option menu*/
.modal-close-button{
	color: transparent;
}

/* Makes the checkbox huge */
input[type=checkbox]{
	height: 2.5rem;
	width: 2.5rem;
}

input[type=checkbox]:checked:after{
	height: 2.5rem;
	width: 2.5rem;
}

.motivationalSpeech {
	text-align: center;
	font-size: 1.5rem;
	color: rgb(138, 92, 245);
	font-style: italic;
}


/*calendar*/

.calendar-header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 10px;
}

.calendar-btn {
	padding: 1.5rem 2rem;
	/* Additional button styling */
}

.calendar-title {
	font-weight: bold;
	font-size: 1.5rem;

	/* Additional title styling */
}

.calendar-grid {
	padding: 0.5rem;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	/*gap: 5px;*/
}

.calendar-header-day {
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
	text-align: center;
	padding: 5px;
}

.calendar-day {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 0.25rem 0.5rem 0.25rem;
	cursor: pointer;
	border-radius: 5px;
}

/* Flex container for date and circles */
.calendar-day__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 0.35rem;
}

.calendar-day__container-date {
	text-align: center;
}

.calendar-day__container-circles {
	display: flex;
	gap: 0.35rem;
	justify-content: center;
	align-items: center;
}

.calendar-day__container-circles-dot {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	bottom: 5px; /* Position the dot at the bottom */
}

.calendar-day__container-circles-dot.completed {
	background-color: orange; /* Customize the color of the dot */
	border: none;
}

.calendar-day__container-circles-dot.started {
	border: 1px solid #AD83FF; /* Customize the outline color */
	background-color: transparent;
}

/* Dot for completed workouts on days outside the current month */
.calendar-day__container-circles-dot.completed-outside-month {
	background-color: rgba(228, 186, 73); /* Customize the color of the dot */
	opacity: 0.4;
}

/* Dot for started workouts on days outside the current month */
.calendar-day__container-circles-dot.started-outside-month {
	border: 1px solid #8D6F0B; /* Customize the outline color */
	opacity: 0.4;
}

.calendar-day.current-day {
	background-color: rgb(0,0,0,1);
	border: 1.85px solid rgb(0,0,0,1); /* Customize the outline color */

	font-weight: bold;
}

.calendar-day.empty {
	background-color: transparent;
	opacity: 0.3;
}

.calendar-day.greyed-out {
	color: rgba(255, 255, 255, 0.2); /* Grey color for days from the previous or next month */
}

/* Hover effect for days of the current month */
.calendar-day:hover {
	background-color: rgba(255, 255, 255, 0.4); /* White with 40% opacity */
}

/* Hover effect for greyed-out days (from previous or next month) */
.calendar-day.greyed-out:hover {
	background-color: rgba(255, 255, 255, 0.2); /* White with 20% opacity */
}












/* SETTINGS */
.tab-group {
	display: flex;
	gap: 1rem;
	margin-bottom: 1.5rem;
  }
  
  .tab-header {
	padding: 0.5rem 1rem;
	background-color: #444;
	border: none;
	cursor: pointer;
	border-radius: 0.3rem;
	color: #fff;
	font-weight: bold;
  }
  
  .tab-header.active {
	background-color: #888;
	font-weight: bold;
  }
  
  .tab-content h3 {
	margin-bottom: 1rem;
  }
  
  .workout-types-list {
	list-style-type: none;
	padding-left: 0;
  }
  
  .workout-types-list li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 0;
  }
  
  .workout-types-list li button {
	background-color: #888;
	border: none;
	padding: 0.5rem 0.8rem;
	cursor: pointer;
	border-radius: 0.3rem;
	color: white;
	font-size: 0.9rem;
  }
  
  .workout-types-list li button:hover {
	background-color: #ff4c4c;
  }
  
  input[type="text"] {
	padding: 0.5rem;
	margin-right: 1rem;
	width: 15rem;
	border-radius: 0.3rem;
	border: 1px solid #ccc;
  }
  
  button {
	background-color: #444;
	color: white;
	padding: 0.6rem 1rem;
	border: none;
	border-radius: 0.3rem;
	cursor: pointer;
  }
  
  button:hover {
	background-color: #555;
  }
  