.workout-input{
	width: 100%;
	background-color: transparent !important;
	color-scheme: unset;
	border: none!important;
}

.workout-options-container{
	padding-top: 1rem;
	padding-bottom: 0.2rem;
	overflow-y: auto;
}

.workout-option{
	padding: 0.5rem 0.5rem;
}
.workout-option:hover {
	background-color: rgba(255, 255, 255, 0.075)
}

/* Removes X from workout option menu*/
.modal-close-button{
	color: transparent;
}

/* Makes the checkbox huge */
input[type=checkbox]{
	height: 2.5rem;
	width: 2.5rem;
}

input[type=checkbox]:checked:after{
	height: 2.5rem;
	width: 2.5rem;
}

.motivationalSpeech {
	text-align: center;
	font-size: 1.5rem;
	color: rgb(138, 92, 245);
	font-style: italic;
}


/*calendar*/

.calendar-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.calendar-grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 5px;
}

.calendar-day-header {
	font-weight: bold;
	text-align: center;
	padding: 5px;
}

.calendar-day {
	text-align: center;
	padding: 10px;
	cursor: pointer;
	border-radius: 5px;
}

.calendar-day.empty {
	background-color: transparent;
}

.calendar-day.current-day {
	background-color: #ffecb3;
	font-weight: bold;
}

.calendar-day.greyed-out {
	color: darkslateblue; /* Grey color for days from the previous month */
}
